.EventList {
display: inline-grid;
gap: 2em 2em;
grid-template-columns: 1fr;
grid-template-rows: 1fr;
min-width: 20em;
max-width: 100%;
color:rgba(6, 81, 143, 0.719);
}

.event-list {
min-height: 20em;
min-width: 100%;
border-style: none;
border: 6px solid rgba(6, 81, 143, 0.719);
border-radius: 5%;
}

.details-view {
    min-width: 20em;
    max-width: 30em;
}

.event {
    border: none;
    text-align: left;
    padding: 5% 3%;
    margin: 5%;
    margin-top: 5%;
    margin-bottom: 5%;

}

.details-header {
    margin-top: 8%;
    margin-bottom: 5%;
}

.description {
    margin-top:5%;
    margin-bottom: 10%;
}

a {
    color:rgb(32, 166, 243);
    text-decoration: none; 
    font-weight: 500; 
    font-size: 17px;
}

#details-btn {
    padding: 6%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 2%;
    background-color: rgba(6, 81, 143, 0.719);
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
}

h2 {
    font-size:35px;
    color: rgba(6, 81, 143, 0.719);
    margin-bottom: 15%;
    margin-top: 20%;
}

h1 {
    font-size: 40px;
    color: rgba(6, 81, 143, 0.719);
}