@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.EventList {
display: inline-grid;
align-items: center;
justify-items: center;
text-align: center;
row-gap: 2em;
grid-template-columns: 1fr;
grid-template-rows: 1fr;
min-width: 20em;
max-width: 100%;
color:rgba(6, 81, 143, 0.719);
color: #1D4355;
font-family: 'Roboto', sans-serif;
}

.event-list {
min-height: 20em;
min-width: 100%;
border-style: none;
border: 6px solid #1D4355;;
border-radius: 8px;
}

.details-view {
    min-width: 20em;
    max-width: 30em;
}

.event {
    border: none;
    text-align: left;
    padding: 3% 3%;
    margin: 5%;
    margin-left:10%;
    margin-right:10%;

}

.details-header {
    margin-top: 8%;
    margin-bottom: 5%;
}

.description {
    margin-top:5%;
    margin-bottom: 10%;
}

a {
    color:rgb(32, 166, 243);
    text-decoration: none; 
    font-weight: 500; 
    font-size: 17px;
}

#details-btn {
    padding: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 2%;
    background-color: rgba(6, 81, 143, 0.719);
    background-color: #1D4355;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
}

h2 {
    font-size:35px;
    color: rgba(6, 81, 143, 0.719);
    color: #1D4355;
    margin-bottom: 15%;
    font-family: 'Rubik', sans-serif;
}

h1 {
    font-size: 40px;
    color: rgba(6, 81, 143, 0.719);
    color: #1D4355;
    font-family: 'Rubik', sans-serif;
}