@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.WelcomeScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(6, 84, 148);
    }
.google-btn {
    position:relative;
    width: 250px;
    margin-top: 8%;
    margin-left: 3%;
    height: 60px;
    background-color: #4285f4;
    border-radius: 2px;
}
.google-btn:hover {
    box-shadow: 0 0 6px #4285f4;
    }
   
.google-btn:active {
        background: #1669f2;
        }

.google-icon-wrapper {
    position:absolute;
    margin-left:0px;
    margin-top: 0px;
    width: 60px;
    height: 60px;
    background-color: #fff;
    justify-content: left;
}
    
        .google-icon {
      left:0;
        margin-top: 15px;
        width: 26px;
        height: 26px;
        }
.btn-text {
position:relative;
margin-left: 25%;
background:none;
border:none;
margin-top:7%;
margin-bottom:2%;
font-size:16px;
color: white;
text-align: left;
font-family: 'Roboto', sans-serif;
} 

.privacy-link {
    font-size:15px;
    padding:2%;
    margin-top: -1.5%;
    margin-left: 4%;  
}

.welcome_message {
    color:white;
    font-size: 45px;
    margin: 20%;
    margin-top: 13%;
    margin-bottom:0px;
    font-family: 'Roboto', sans-serif;

}

.welcome-subtitle {
    margin-top: 3%;
    font-size: 38px !important;
}
